*{
    padding:0;
    margin:0;
    text-decoration: none;
} 
.section, .navigation{
    width:100%;
    background-color: black;
    overflow:auto;
}
.center{
    width:90%;
    margin: 0 auto;
    overflow:auto;

}
.phone, .email
{
    width:35%;
    color: white;
    padding:5px 0;
}
.phone{
    float:left;
}
.email{
    float:right;
    text-align:right;
}
.navigation
{
    background-color: aqua;

}
.logo{
    width: 50%;
    float:left;
}
.menu{
    float:right;
    width:50%;
}
ul{
    text-align:right;
    padding:5px 0;
}
ul li{
    display:inline;
    padding:10px;
}
li a{
    color:rgb(12, 6, 6);
    text-decoration:none;
}
li:hover{
    background-color: rgb(125, 163, 20);
}
.banner{
    width:100%;
    background-color: aqua;
    overflow:auto;
    margin:0;
}
.bannercontent{
    width:40%;
    text-align: center;
    float:left;
}
.content{
    padding-top: 100px;
    padding-bottom: 100px;

}
.image{
    width:55%;
    float:right;
}
.row{
    padding-top:50px;
}
.button {
    background-color: #7daf21; 
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px 2px;
    cursor: pointer;
  }
  
.button:hover{
    background-color: white;
}
.about{
    width:100%;
    background-color: white;
    overflow:auto;
    margin:0;
}
.aboutcontent{
    width:50%;
    text-align: center;
    float:left;
}
.content{
    padding-top: 100px;
    padding-bottom: 100px;

}
.imageman{
    width:50%;
    float:right;
}
.row{
    padding-top:50px;
}
.button {
    background-color: #7daf21; 
    border: none;
    color: white;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 15px 2px;
    cursor: pointer;
  }
  
.button:hover{
    background-color: chocolate;
}
@media screen and(max-width:575px)
{
    .{
        width:95%;
        margin:2px auto;
        float:none;
    }
}
