/* .Container{
  width:20%;
  /* float:left; */
  /* margin:2px; */
  /* padding: 10px; */
  /* background-color:; */
/* }
.img-fluid{
  width: 50px;
  height: 50px;
}
.image-fluid{
  margin:45%;
/* } */ 
