<p>form works!</p>

<!-- <div class="card m-3">
    <h5 class="card-header">Angular 10 Template-Driven Form Validation</h5>
    <div class="card-body">
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" [mustMatch]="['password', 'confirmPassword']" novalidate>
            <div class="form-row">
                    <div class="form-group col-5">
                        <label>First Name</label>
                        <input type="text" name="firstName" class="form-control" [(ngModel)]="model.firstName" #firstName="ngModel" [ngClass]="{ 'is-invalid': f.submitted && firstName.invalid }" required>
                        <div *ngIf="f.submitted && firstName.invalid" class="invalid-feedback">
                            <div *ngIf="firstName.errors.required">First Name is required</div>
                        </div>
                    </div>
                    <div class="form-group col">
                        <label>Email</label>
                        <input type="text" name="email" class="form-control" [(ngModel)]="model.email" #email="ngModel" [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
                        <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
                            <div *ngIf="email.errors.required">Email is required</div>
                            <div *ngIf="email.errors.email">Email must be a valid email address</div>
                        </div>
                    </div>
                </div>
            </div>
        </form>   
    </div>
</div> -->

<form #f="ngform" (ngSubmit)="onSubmit(f)">
    <label>First Name</label>
    <input type="text" name="firstName" ngModel #firstName="ngModel"
        required pattern="^[a-zA-Z]{3,15}$">
    <div *ngIf="f.submitted && firstName.errors">
        <div *ngIF="firstName.errors.required">First Name is required</div>
        <div *ngIF="firstName.errors.required">First Name is invalid</div>
    </div>

    <label>Email</label>
    <input type="text" name="email" ngModel #email="ngModel"
        [ngClass]="{ 'is-invalid': f.submitted && email.invalid }" required email>
    <div *ngIf="f.submitted && email.errors">
        <div *ngIF="email.errors.required">  Email is required</div>
        <div *ngIF="firstName.errors.required">Email is invalid</div>
    </div>
  
</form>
